@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Index";
}

<h1>All Employees</h1>
<br />
<br />
@* 
<div class="mt-4">
   <a>@ViewData["Message"]</a>
</div>
 *@

@* 
<div class="mt-4">
   <a>@ViewBag.message</a>
</div>
 *@

@if (!string.IsNullOrEmpty(TempData["Message"] as string)){
    <div class="mt-4 alert alert-info">
        <a>@TempData["Message"]</a>
    </div>
}

<form>
    <div class="container m-4">
        <div class="row">
            <div class="col-6">
                <input name="Search" class="form-control" placeholder="Search by Name" />
            </div>
            <div class="col-6">
                <button type="submit" class="btn btn-primary" value="Search">Search</button>

            </div>

        </div>
       
    </div>
</form>

<a asp-action="Create" asp-controller="Employee" class="btn btn-primary">Create Employee</a>

<br />
<br />

@if (Model.Count() > 0)
{
    <table class="table table-hover table-striped">

        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Address</th>
                <th>Salary</th>
                <th>IsActive</th>
                <th>IsDeleted</th>
                <th>@Html.DisplayNameFor(E => E.HiringDate)</th>
                <th>@Html.DisplayNameFor(E => E.CreateAt)</th>
                <th>Department</th>


            </tr>
        </thead>

        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.Name</td>
                    <td>@employee.Age</td>
                    <td>@employee.Email</td>
                    <td>@employee.Address</td>
                    <td>@employee.Salary</td>
                    <td>@employee.IsActive</td>
                    <td>@employee.IsDeleted</td>
                    <td>@employee.HiringDate</td>
                    <td>@employee.CreateAt</td>
                    @if (employee.Department == null)
                    {
                        <td>No Department</td>

                    }
                    else
                    {
                        <td>@employee.Department.Name</td>
                    }
                    <partial name="ButtonPartialView" model="@employee.Id" />

                </tr>
            }
        </tbody>

    </table>

}
else
{
    <div class="mt-4 alert alert-warning" role="alert">
        <h4>No Employees Found :( </h4>
    </div>
}

