@model IEnumerable<Employee>
@{
    ViewData["Title"] = "Index";
}

<h1>All Employees</h1>
<br />
<br />

<a asp-action="Create" asp-controller="Employee" class="btn btn-primary">Create Employee</a>

<br />
<br />

@if (Model.Count() > 0)
{
    <table class="table table-hover table-striped">

        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Address</th>
                <th>Salary</th>
                <th>IsActive</th>
                <th>IsDeleted</th>
                <th>@Html.DisplayNameFor(E => E.HiringDate)</th>
                <th>@Html.DisplayNameFor(E => E.CreateAt)</th>


            </tr>
        </thead>

        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.Name</td>
                    <td>@employee.Age</td>
                    <td>@employee.Email</td>
                    <td>@employee.Address</td>
                    <td>@employee.Salary</td>
                    <td>@employee.IsActive</td>
                    <td>@employee.IsDeleted</td>
                    <td>@employee.HiringDate</td>
                    <td>@employee.CreateAt</td>
                    <td>
                        <a asp-action="Details" asp-controller="Employee" asp-route-id="@employee.Id" class="btn btn-warning">Details</a>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-controller="Employee" asp-route-id="@employee.Id" class="btn btn-success">Update</a>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-controller="Employee" asp-route-id="@employee.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            })
        </tbody>

    </table>

}
else
{
    <div class="mt-4 alert alert-warning" role="alert">
        <h4>No Employees Found :( </h4>
    </div>
}

